body.nutrition-page .header {
	position: relative;
}

body.nutrition-page .app,
body.nutrition-page .nutrition {
	position: relative;
	margin-top: 0;
	padding-top: 0;
}

// Footer

.footer {
	width: 100vw;
	margin: 0 auto;
	padding: 40px 0;
	background-color: #f5faff;
	box-shadow: 0 0 40px 0 rgba(86, 86, 86, 0.3);
}

.footer .container {
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left__block {
	flex: 1;
	max-width: 33%;
}

.left__block--item {
	font-family: 'Comfortaa';
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 15px;
	text-align: left;
}

.left__block--item a {
	text-decoration: none;
	color: #020202;
	transition: color 0.3s ease;
}

.left__block--item a:hover {
	color: #64d370;
}

.center__block {
	flex: 1;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.gastro__logo img {
	max-width: 400px;
	height: auto;
}

.gastro__logo--title {
	color: #020202;
	font-family: 'Comfortaa';
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}

.right__block {
	flex: 1;
	max-width: 33%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.right__block--item {
	text-align: right;
	color: #020202;
	font-family: 'Comfortaa';
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 15px;
}

.right__block--item .phone {
	font-family: 'Montserrat';
}

.right__block--item a {
	text-decoration: none;
	color: #020202;
	transition: color 0.3s ease;
}

.right__block--item a:hover {
	color: #64d370;
}

.right__block--item.phone a {
	font-family: 'Comfortaa';
	font-size: 18px;
	font-weight: 700;
	color: #64d370;
}

.social__block {
	display: flex;
	gap: 15px;
	margin: 15px 0;
}

.social__block--item {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	transition: transform 0.3s ease, background-color 0.3s ease;
	background-color: #64d370;
	color: white;
	font-size: 24px;
}

.social__block--item:hover {
	transform: translateY(-3px);
	background-color: #4ca856;
}

.social__block--item:nth-child(1):hover {
	background-color: #e4405f;
}

.social__block--item:nth-child(2):hover {
	background-color: #1877f2;
}

.social__block--item:nth-child(3):hover {
	background-color: #7360f2;
}

.social__block--item:nth-child(4):hover {
	background-color: #0088cc;
}

.phone-btn {
	margin-top: 30px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 20px;

	font-size: 20px;
	font-weight: 700;
	font-family: 'Montserrat';

	top: 0;

	background-color: #f5faff;
	color: #64d370;

	border-radius: 30px 30px 30px 30px;
	box-shadow: 0 0 40px 0 rgba(86, 86, 86, 0.3);
	transition: all 0.3s ease;
}
